/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***  Header style ******/
header{

width:100%;
margin: 2%;

}
/*** header logo style ***/
#logo{
width:100%;
}
/*** Nav style ***/
nav{

    width:100%;
}

nav ul {
  width:50%;

}
nav ul li  a{
width:50%;
margin: auto;
}
/**** Main styles*****/
main{
     width:96%;
    margin:auto;
    padding:0 2%;
}
/*****  Hero -area style*********/
.hero-area{

width:100%;
margin: auto;
}
/*** top story style****/
.top-story{
  width:100%;
  margin: auto;

}

/*** top image style****/

.top-img{
  width:100%;

}

/*** top info style****/

.top-info{
  width:100%;

}
/*** side bar style****/
.sidebar{
  width:100%;

}


/**** newsletter *****/
.newsletter{
width:100%;
margin: auto;
}
/**** sign upbutton  style****/
.btn{
width:25%;
border-bottom: 1px solid grey;
margin: auto;

}

/**** upcoming style****/
.sidebar-upcoming{
display:none;

}
/*** FAQ styles****/
.sidebar-faq{
display:none;
}
/*** feed style****/
.feed{
  width:100%;

}
/**** feed item  style*****/
.feed-item{
clear:both;
}
/*** feed type styles****/
.feed-type{
 width:40%;

}
/**** feed image style****/
.feed-img{
  width:40%;
  float:left;

}
/***** feed info style****/
.feed-info{
  width:35%;
float:left;
}
/**** news-detail page detailed-content style****/
.detailed-content{

}
/****view/news image style****/
.reviews-img{

}

/**** review -details paragraph content*****/
.para1{
  width:95%;
  margin: 2%;

}
/**** review -details paragraph content*****/

.para2{
width: 95%;
margin: 2%;
}
/**** review -details paragraph content*****/

.para3{
  width: 95%;
  margin: 2%;


}
/**** review -details paragraph content*****/

.para4{
  width: 95%;
  margin: 2%;

}
/**** review -details paragraph content*****/

.para5{
  width: 95%;
  margin: 2%;
border-bottom: 1px solid grey;

}
/**** Footer styles*****/

footer{
    width:100%;
    margin:auto;
}
#footer-logo{
    width:47.5%;
    margin:auto;

}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
 /** Tablet style here****/
 @media (min-width:768px)
 {
  /** HEADER AND nav STYLE ***/
   .main-header{
    width: 95%;
   }
   #logo{
    width:40%;
    float:left;
   }
   nav {
    width:60%;
    float: right;
   display: inline;    

   }
  nav ul li {
    margin-right: 4.5px;
    float: right;
    padding-top:10px;
    display: block;
  clear:none;
        

   }
   #faq{
    padding:1px;
   }
   
   .hero-area{
    margin: auto;
    width: 100%;
   }
   
   .top-story{
    width:100%;
    

   }
   .top-img{
    width:57%;
    float: left;
    margin-top: 30px;

   }
   .top-info{
     width:38%;
     float: right;
     margin-bottom: 5px;
     display: inline;
     list-style-type: none;
   }
   /*** side bar style****/
     .sidebar{
      width:38%;
     float: right;
     clear: both;
     

}
/*** Author and Date style **/
.Author, .Date{
  display: inline;
  padding-right: 10px;
  margin-right:10px;
  

}

.article-meta-info{
  float: right;
}
/*** para style ****/
.para{
  float: right;
  width:10%;

}

/**** upcoming style****/
.sidebar-upcoming{
display:block;



}
/*** FAQ styles****/
.sidebar-faq{
display:block;

}
/*** feed style****/
.feed{
  width:60%;
 float: left;
 border-right: 1px solid #ccc;

}
/**** feed image style****/
.feed-img{
  width:35%;
  /*float:left;*/

}
.feed-info{
  width:40%;
float:left;

}
/* DETAILED PAGES ================================ */

    .reviews-img, .news-img{
        width: 50%;
        float: left;

    }
    
    .article-header detail-title{
        width: 50%;
        float: right;
        padding:10px;
    }
    .detail{
        width: 100%;    
    }
        .sidebar{
            display: inline;
            width:100%;
          
        }
        /** newsletter form style ***/
        /*.newsletter-form{
          width: 200%;
        }*/
        /*** submit button style**/




.clearfix{
  width: 110%;
  text-align:justify;

  border-bottom: 2px solid #ccc;
}

/**** Footer styles*****/
footer{
    width:100%;
    clear: both;
    margin-top: 50%;
    
}
#footer-logo{
    width:30%;
    margin:auto;

}

 }

 /** Desktop styles here****/
 @media screen and (min-width:940 px)
 {

 }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
